USE [master]
GO
/****** Object:  Database [SSTORE]    Script Date: 9/10/2025 10:54:51 PM ******/
CREATE DATABASE [SSTORE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SSTORE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SSTORE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SSTORE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SSTORE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SSTORE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SSTORE]
GO
/****** Object:  Table [dbo].[category]    Script Date: 9/10/2025 10:54:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](80) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer]    Script Date: 9/10/2025 10:54:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](80) NOT NULL,
	[PhoneNumber] [nvarchar](15) NULL,
	[Address] [nvarchar](80) NULL,
	[BirthDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 9/10/2025 10:54:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](80) NOT NULL,
	[BuyPrice] [money] NULL,
	[SALEPRICE] [money] NULL,
	[Quantity] [float] NULL,
	[CategoryId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[saleOrder]    Script Date: 9/10/2025 10:54:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[saleOrder](
	[ID] [int] NOT NULL,
	[DateOrder] [datetime2](7) NULL,
	[TotalOrder] [float] NULL,
	[CustomerId] [int] NULL,
 CONSTRAINT [PK__saleOrde__3214EC27BDE2F74E] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[saleOrderProduct]    Script Date: 9/10/2025 10:54:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[saleOrderProduct](
	[productPrice] [money] NULL,
	[ProductTotalPrice] [money] NULL,
	[productQuantity] [float] NULL,
	[productId] [int] NOT NULL,
	[OrderId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[productId] ASC,
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stock]    Script Date: 9/10/2025 10:54:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](80) NOT NULL,
	[TotalMoney] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stockDetails]    Script Date: 9/10/2025 10:54:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stockDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[type] [int] NULL,
	[Total] [money] NULL,
	[Date] [datetime2](7) NULL,
	[StockId] [int] NULL,
	[OrderId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[category] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[saleOrder]  WITH CHECK ADD  CONSTRAINT [FK__saleOrder__Custo__3E52440B] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[customer] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[saleOrder] CHECK CONSTRAINT [FK__saleOrder__Custo__3E52440B]
GO
ALTER TABLE [dbo].[saleOrderProduct]  WITH CHECK ADD  CONSTRAINT [FK__saleOrder__Order__4222D4EF] FOREIGN KEY([OrderId])
REFERENCES [dbo].[saleOrder] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[saleOrderProduct] CHECK CONSTRAINT [FK__saleOrder__Order__4222D4EF]
GO
ALTER TABLE [dbo].[saleOrderProduct]  WITH CHECK ADD FOREIGN KEY([productId])
REFERENCES [dbo].[product] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[stockDetails]  WITH CHECK ADD  CONSTRAINT [FK__stockDeta__Order__47DBAE45] FOREIGN KEY([OrderId])
REFERENCES [dbo].[saleOrder] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[stockDetails] CHECK CONSTRAINT [FK__stockDeta__Order__47DBAE45]
GO
ALTER TABLE [dbo].[stockDetails]  WITH CHECK ADD FOREIGN KEY([StockId])
REFERENCES [dbo].[Stock] ([ID])
ON DELETE CASCADE
GO
USE [master]
GO
